# Postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=pass
DATABASE_NAME=tasks_db

# Redis
REDIS_PASSWORD=123456
BackEnd_USER = BackEnd_USER
BackEnd_USER_PASSWORD = 654321
Exporter_USER = Exporter_USER
Exporter_USER_PASSWORD = 654321

# JWT
SECRET_KEY_JWT=example_jwt_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=30

# CORS
FRONTEND_URL=http://127.0.0.1:8085,http://localhost:8085
BACKEND_URL=http://backend:8005

# For frontend
SESSION_SECRET=your-secret-key