.btn-add-conection {
    background-color: #3578dc;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

.btn-add-conection:hover {
    background-color: #375788;
}

.btn-edit-task {
    background-color: #1f9e25;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

.btn-edit-task:hover {
    background-color: #195f1d;
}

.btn-delete {
    background-color: #dc3545;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

.btn-delete:hover {
    background-color: #c82333;
}

.task-list ul {
    list-style: none;
    padding: 0;
}

.task-list li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.task-list li h3 {
    margin: 0 0 10px;
    color: #333;
}

.task-list li p {
    margin: 5px 0;
    color: #666;
}